<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/estilosLogin.css">
</head>
<body>
    <div class="container">
        <h2>¡Hola! inicia sesión</h2>
        <form id="loginForm">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Iniciar sesión</button>
        </form>
        <div class="links">
            <a href="visualizarcliente.html">Lista de Clientes</a>
            <a href="formulario-servicio-insumo.html">Formulario Servicio Insumo</a>
            <a href="registro-de-persona.html">Registro de Persona</a>
            <a href="verificar-detalle-de-servicio.html">Verificar Detalle de Servicio</a>
            <a href="gestion-de-ordenes-de-trabajo-y-servicios.html">Gestión de Órdenes de Trabajo y Servicios</a>
            <a href="gestion-de-entidades.html">Gestión de Entidades</a>
            <a href="control-de-ordenes-de-trabajo.html">Control de Órdenes de Trabajo</a>
            <a href="lista-de-personas.html">Lista de Personas</a>
            <a href="registro-de-profesionales.html">Registro de Profesionales</a>
        </div>
    </div>
    <script src="js/login.js"></script>
</body>
</html>